
@if (this.isOtp==0) {
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-80">
        <div class="row justify-content-center align-items-center h-80">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="card shadow">
                    <div class="card-body p-5">
                        <div class="d-flex justify-content-center mb-4">
                            <a href="#">
                                <!-- <img src="assets/logo/Logo.jpg" alt="logo" class="desktop-logo" width="200px"> -->
                            </a>
                        </div>
                        <p class="h5 fw-semibold mt-3 text-center">Register</p>

                        <form [formGroup]="frmregister1" (ngSubmit)="onSubmitMobile()" >
                            <div class="row gy-3">
                                <div class="col-12 mb-2">
                                    <label for="MobileNo" class="form-label text-default">Mobile</label>
                                    <input type="text" class="form-control" id="MobileNo" name="MobileNo"
                                        placeholder="MobileNo" formControlName="MobileNo" minlength="10" maxlength="10">
                                    
                                </div>
                               
                               
                                <div class="col-12 mb-2">
                                    <div class="col-md-12 mb-2">
                                      Already have Account? <a href="#" class="text-default" routerLink="/login">
                                            Login</a> 
                                    </div>
                                    <div class="col-md-4 mb-2">

                                    </div>
                                  
                                </div>
                                <div class="col-12 mb-2 text-center">
                                    <button type="submit" class="btn--base" >Continue</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}
@else if (this.isOtp==1) {

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-80">
        <div class="row justify-content-center align-items-center h-80">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="card shadow">
                    <div class="card-body p-5">
                        <div class="d-flex justify-content-center mb-4">
                            <a href="#">
                                <!-- <img src="assets/logo/Logo.jpg" alt="logo" class="desktop-logo" width="200px"> -->
                            </a>
                        </div>
                        <p class="h5 fw-semibold mt-3 text-center">Verify OTP</p>

                        <form [formGroup]="frmrverifyotp" (ngSubmit)="onVerifyOTP()" >
                            <div class="row gy-3">
                                <div class="col-12 mb-2">
                                    <label for="MobileNo" class="form-label text-default">OTP</label>
                                    <ng-otp-input formControlName="ngOtpInput" [config]="{ length: 6 }"></ng-otp-input>
                                    
                                </div>
                               
                               
                                <div class="col-12 mb-2">
                                    <div class="col-md-12 mb-2">
                                      Already have Account? <a href="#" class="text-default" routerLink="/login">
                                            Login</a> 
                                    </div>
                                    <div class="col-md-4 mb-2">

                                    </div>
                                  
                                </div>
                                <div class="col-12 mb-2 text-center">
                                    <button type="submit" class="btn--base" >Continue</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}

@else if (this.isOtp==2) {
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-80">
            <div class="row justify-content-center align-items-center h-80">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-12">
                    <div class="card shadow">
                        <div class="card-body p-5">
                            <div class="d-flex justify-content-center mb-4">
                                <a href="#">
                                    <!-- <img src="assets/logo/Logo.jpg" alt="logo" class="desktop-logo" width="200px"> -->
                                </a>
                            </div>
                            <p class="h5 fw-semibold mt-3 text-center">Complete Enrollment</p>
    
                            <form [formGroup]="frmPanDetails" (ngSubmit)="SubmitPanDetail()" >
                                <div class="row gy-3">
                                    
                                    <div class="col-12 mb-2">
                                        <label class="form-label select-label">First Name</label>
                                        <input type="text" class="form-control" id="FristName" name="FristName"
                                        placeholder="Frist Name" formControlName="FristName" >
                                    </div>
                                   
                                    <div class="col-12 mb-2">
                                        <label class="form-label select-label">Last Name</label>
                                        <input type="text" class="form-control" id="LastName" name="LastName"
                                        placeholder="Last Name" formControlName="LastName" >
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label class="form-label select-label">Email</label>
                                        <input type="text" class="form-control" id="Email" name="Email"
                                        placeholder="Email" formControlName="Email" >
                                    </div>
                                  
                                    <div class="col-12 mb-2">
                                        <label class="form-label select-label">DOB</label>
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dob"
                                                ngbDatepicker #d="ngbDatepicker" formControlName="dob"
                                                [(ngModel)]="selectedDate">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                                    type="button">
                                                </button>
                                            </div>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label class="form-label select-label">Class</label>
                                        <select class="select form-control"   name="ClassID" [(ngModel)]="selectedvalueMode"  formControlName="ClassID"  >
                                            <option [value]="0">--Select Class--</option>
                                            @for (item of classlst; track $index) {
                                              <option  [value]="item.ClassID"  selected="item.ClassID=selectedvalueMode">{{item.ClassName}}</option>
                                            }
                                           
                                          </select>
                                    </div>
                                    
                                    <div class="col-12 mb-2">
                                        <div class="col-md-12 mb-2">
                                          Already have Account? <a href="#" class="text-default" routerLink="/login">
                                                Login</a> 
                                        </div>
                                        <div class="col-md-4 mb-2">
    
                                        </div>
                                      
                                    </div>
                                    <div class="col-12 mb-2 text-center">
                                        <button type="submit" class="btn--base" >Continue</button>
                                    </div>
                                </div>
                            </form>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
