<div class="container">
  <div class="common-margin">
    <div class="justify-content-center row">
      <div class="col-lg-12 col-md-12 col">
        <div class="form-wrap-card card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h1 class="justify-content-start common-section-heading">KYC Type Master</h1>
              </div>
              <form>
                <div class="mb-3 row">
                  <div class="col-lg-4">
                    <label class="form-label select-label">Select Company</label>
                    <select class="select form-control"   name="Bankname" [(ngModel)]="companytypeid"  >
                      <option [value]="0">--Select Company Type--</option>
                      @for (item of Modeldata; track $index) {
                        <option  [value]="item.CompnayTypeId"  selected="item.CompnayTypeId=companytypeid">{{item.CompanyTypeName}}</option>
                      }
                     
                    </select>

                  </div>
                  <div class="col-lg-4">

                    <label class="form-label select-label">Select User Type</label>
                    <select class="select form-control"   name="UserTypeId" [(ngModel)]="UserTypeId"  (change)="GetAllKycType()" >
                      <option [value]="0">--Select USer Type--</option>
                      @for (item of Modelusertype; track $index) {
                        <option  [value]="item.UserTypeId"  selected="item.UserTypeId=UserTypeId">{{item.UserTypeName}}</option>
                      }
                     
                    </select>

                    
                  </div>
                  <div class="col-lg-4">
                    <button type="button" class="btn--base" (click)="GetAllKycType()">Search</button>
                  </div>

                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="common-margin">
    <div class="justify-content-center row">
      <div class="col-lg-12 col-md-12 col">
        <div class="form-wrap-card card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h1 class="justify-content-start common-section-heading">KYC Type List</h1>
              </div>

              <mat-card-content>
                @if (Modelkyc!=null) {
                
                <table mat-table [dataSource]="Modelkyc" class="mat-elevation-z8">
                
                   
                    <ng-container matColumnDef="KycTypeID">
                      <th mat-header-cell *matHeaderCellDef> Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.KycTypeID}} </td>
                    </ng-container>
                  
                    
              
                    <ng-container matColumnDef="UserTypeName">
                      <th mat-header-cell *matHeaderCellDef> User Type </th>
                      <td mat-cell *matCellDef="let element"> {{element.UserTypeName}} </td>
                    </ng-container>
                   
                    <ng-container matColumnDef="CompanyTypeName">
                      <th mat-header-cell *matHeaderCellDef> Company Tyoe Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.CompanyTypeName}} </td>
                    </ng-container>
              
                    <ng-container matColumnDef="KycTypeName">
                      <th mat-header-cell *matHeaderCellDef> Kyc Type Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.KycTypeName}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
                }
                </mat-card-content>
                
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



