.counter-input2 {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    color: #600289;
    line-height: 2rem;
}

.count-up-animation {
    animation: countUp 0.15s ease-in;
}

@keyframes countUp {
    0% {
        top: -2rem;
        left: 0px;
    }

    100% {
        top: -4rem;
        left: 0;
    }
}

.count-down-animation {
    animation: countDown 0.15s ease-in;
}

@keyframes countDown {
    0% {
        top: -2rem;
        left: 0px;
    }

    100% {
        top: 0rem;
        left: 0;
    }
}

.counter-container {
    position: relative;
    top: -2rem;
    left: 0px;
}


.counter-input3 {
    width: 100%;
    color: white;
}

.counter-container2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.count-number-animation2 {
    animation: countDown2 0.2s ease-in;
}

@keyframes countDown2 {
    0% {
        scale: 0;
    }

    25% {
        scale: 0.25;
    }

    50% {
        scale: 0.55;
    }

    75% {
        scale: 0.75;
    }

    100% {
        scale: 1;
    }
}

.btn-outline-primary-counter {
    border-color: #600289 !important;
    background-color: #600289 !important;
    padding: 0px !important;
    line-height: 1.72rem;
    border-radius: 10px;
    width: 100px;
}

.btn-outline-primary-add {
    color: #600289;
    border-color: #600289;
    height: 35px;
    outline: none !important;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.btn-outline-primary-add:hover {
    background-color: #600289;
    color: white;
}

.counter-plusminus {
    width: 30%;
    background: #600289;
    border: none;
    color: #ffffff;
    outline: none;
    border-radius: 10px;
}

.counter-plusminus:active {
    -webkit-tap-highlight-color: #ffffff;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    outline: none;
    background-color: #4c036c;
}

.counter-plusminus:focus {
    outline: none;
}

.counter-input {
    width: 60%;
    border: none;
    text-align: center;
    outline: none;
}

.counter-input:focus {
    outline: none;
}

.c-nodrop {
    cursor: no-drop;
}