
<mat-card appearance="outlined">
    <mat-card-title style=" background-color: #3f51b5;color: white;margin-left: 30px;">Agency List</mat-card-title>
    <br>
    <mat-card-content>
  @if (Modeldata!=null) {
  
  <table mat-table [dataSource]="Modeldata" class="mat-elevation-z8">
  
     
      <ng-container matColumnDef="AgencyId">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.AgencyId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="AgencyCode">
        <th mat-header-cell *matHeaderCellDef> Agency Code </th>
        <td mat-cell *matCellDef="let element"> {{element.AgencyCode}} </td>
      </ng-container>

      <ng-container matColumnDef="AgencyName">
        <th mat-header-cell *matHeaderCellDef> Agency Name </th>
        <td mat-cell *matCellDef="let element"> {{element.AgencyName}} </td>
      </ng-container>
     
      <ng-container matColumnDef="StatusName">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.StatusName}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  }
  </mat-card-content>
  <mat-card-footer>
  <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[2, 10, 25, 100]"
                aria-label="Select page" dataSource="Modeldata" >
  </mat-paginator>
  </mat-card-footer>
  </mat-card>
    
  