
<app-header></app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    
    <mat-nav-list>
      <mat-list-item (click)="sidenav.toggle()">
        <h1>Sanyukt Pay</h1>
      </mat-list-item>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Manage API</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="/Dashboard/AppMgr">Application List</mat-list-item>
          <mat-list-item routerLink="/Dashboard/APIuser">User List</mat-list-item>
           <mat-list-item routerLink="/Dashboard/UploadUserLogo">Upload Logo</mat-list-item>
           <mat-list-item routerLink="/Dashboard/UserKYC">Documents</mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Transactions</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="/Dashboard/Payin">Payin Request</mat-list-item>
           <mat-list-item routerLink="/Dashboard/AddPayinAcc">Add Payin Accounts</mat-list-item> 
          <mat-list-item routerLink="/Dashboard/PayinList">Payin List</mat-list-item>
          <mat-list-item routerLink="/Dashboard/PayinAccList">Account List</mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar style="background-color: #42a8df;">
      <button mat-icon-button (click)="sidenav.toggle()">
        <!-- <span id='myIcon' ><i class="fas fa-bars" style="color: white;"></i></span> -->
      <mat-icon>menu</mat-icon>
      </button>
      <span>{{apptitle}}</span>
    </mat-toolbar>
    <div class="content">
     <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>





