
<app-header></app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    
    <mat-nav-list>
      <mat-list-item (click)="sidenav.toggle()">
        <h1>Sanyukt Pay</h1>
      </mat-list-item>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Manage API</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="/Dashboard/AppMgr">Application List</mat-list-item>
          <mat-list-item routerLink="/Dashboard/APIuser">User List</mat-list-item>
           <!--<mat-list-item routerLink="/Dashboard/CompanyType">Company Master</mat-list-item> -->
          
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Partner Onboarding</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="/Dashboard/Onboard">Onboarding</mat-list-item>
          <mat-list-item routerLink="/Dashboard/AddUsrAddress">User Address</mat-list-item>
          <mat-list-item routerLink="/Dashboard/AddUserAcc">User Accounts</mat-list-item>
          <mat-list-item routerLink="/Dashboard/UploadUserLogo">Upload Logo</mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <span id='myIcon' ><i class="fas fa-bars" style="color: white;"></i></span>
      
      </button>
      <span>{{apptitle}}</span>
    </mat-toolbar>
    <div class="content">
     <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>





