<!-- 
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="/Dashboard" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Masters</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a routerLink="/Dashboard/CommissionType" class="nav-link px-0"> <span class="d-none d-sm-inline">Commission Type</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/CalculationType" class="nav-link px-0"> <span class="d-none d-sm-inline">Calculation Type</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/CompanyType" class="nav-link px-0"> <span class="d-none d-sm-inline">Company  Type</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/Gender" class="nav-link px-0"> <span class="d-none d-sm-inline">Gender</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/MaritalStatus" class="nav-link px-0"> <span class="d-none d-sm-inline">Marital Status</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/AddressType" class="nav-link px-0"> <span class="d-none d-sm-inline">Address Type</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/Agency" class="nav-link px-0"> <span class="d-none d-sm-inline">Agency Master</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/BankMaster" class="nav-link px-0"> <span class="d-none d-sm-inline">Bank Master</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/StateMaster" class="nav-link px-0"> <span class="d-none d-sm-inline">State Master</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/DistrictMaster" class="nav-link px-0"> <span class="d-none d-sm-inline">District Master</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/KycTypeMaster" class="nav-link px-0"> <span class="d-none d-sm-inline">KYC Type Master</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/UserTypeMaster" class="nav-link px-0"> <span class="d-none d-sm-inline">User Type Master</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/DemographicDetail" class="nav-link px-0"> <span class="d-none d-sm-inline">Demographic Details</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/LedgerType" class="nav-link px-0"> <span class="d-none d-sm-inline">Ledger Type Master</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/ServiceType" class="nav-link px-0"> <span class="d-none d-sm-inline">Service Type Master</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/PaymentChanel" class="nav-link px-0"> <span class="d-none d-sm-inline">Payment Chanel</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/PaymentMode" class="nav-link px-0"> <span class="d-none d-sm-inline">Payment Mode Master</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/Onboard" class="nav-link px-0"> <span class="d-none d-sm-inline">Onboard</span>  </a>
                            </li>
                            <li>
                                <a routerLink="/Dashboard/AddAcc" class="nav-link px-0"> <span class="d-none d-sm-inline">Add accounts</span>  </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/Dashboard/CommissionType" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li>
                   
                    <li>
                        <a routerLink="/Dashboard/CommissionType" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
                
            </div>  -->

   

<!--             
            <mat-toolbar color="primary">
                <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
                  <mat-icon>menu</mat-icon>
                </button>
                <h1>Responsive Material Sidenavigation</h1>
              </mat-toolbar>
              <mat-sidenav-container autosize>
                <mat-sidenav [opened]="true" mode="side">
                  <mat-nav-list>
                    <a mat-list-item>
                      <span class="entry">
                        <mat-icon>house</mat-icon>
                        <span>Dashboard</span>
                      </span>
                    </a>
                  </mat-nav-list>
                </mat-sidenav>
                <mat-sidenav-content>
                  <h2>Content</h2>
                  <router-outlet></router-outlet>
                </mat-sidenav-content>
              </mat-sidenav-container> -->