<div class="container">
  <div class="common-margin">
    <div class="justify-content-center row">
      <div class="col-lg-7 col-md-12 col">
        <div class="form-wrap-card card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                  <h1 class="justify-content-start common-section-heading">Upload Logo</h1>
              </div>
              <form (ngSubmit)="onSubmit()" [formGroup]="uploadForm">
                <div class="mb-3 row">
                  <div class="col">
                    <input type="file" class="form-control" (change)="onFileChange($event)" />
                  </div>

                </div>
                <div class="mb-3 row">
                  <div class="col">
                    <button type="submit" class="btn--base" [disabled]="!selectedFile">Upload</button>
                  </div>

                </div>
              
               
              </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>