<div class="container">
    <div class="common-margin">
       <div class="justify-content-center row">
          <div class="col-lg-7 col-md-12 col">
             <div class="form-wrap-card card">
                <div class="card-body">
                   <div class="row">
                      <div class="col">
                         <h1 class="justify-content-start common-section-heading">Change Password</h1>
                      </div>
                      <form [formGroup]="frmUserAddress" (ngSubmit)="Onsubmit()">
                         
                       
                        
                         <div class="mb-3 row">
                            <div class="col">
                               <label for="Username">User Name</label>
                               <input id="Username" class="form-control" type="text" [disabled]="true"
                                  formControlName="Username">
                            </div>
                         </div>
                         <div class="mb-3 row">
                            <div class="col">
                               <label for="txtpassword">Password</label>
                               <input id="txtpassword" class="form-control" type="text"
                                  formControlName="Password">
 
 
                            </div>
                         </div>
                         <div class="mb-3 row">
                            <div class="col">
                               <label for="txtconfirmpassword">Confirm Password</label>
                               <input id="txtconfirmpassword" class="form-control" type="text"
                                  formControlName="Confirmpass">
 
                            </div>
                         </div>
 
                         <div class="mb-3 row">
                            <div class="col">
                               <input class="submit-btn" class="btn--base" type="submit"
                                  value="Submit">
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <button type="button" class="btn--base" (click)="BacktoPre()">Close</button>
 
                            </div>
                         </div>
 
 
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>